<link rel="stylesheet" href="__PUBLIC__/css/base-min.css">
<link rel="stylesheet" href="__PUBLIC__/css/pure-min.css">


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="__PUBLIC__/css/layouts/email-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="__PUBLIC__/css/layouts/email.css">
    <!--<![endif]-->

<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/my.js"></script>
  
  <script src="__PUBLIC__/js/sweetalert.min.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/css/sweetalert.css">

