<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive email layout.">

    <title>图书管理系统 Pure</title>
    <block name="links">
        <include file="Public:link" />
    </block>

    <block name="externLinks">
    </block>

</head>
<body>


<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <a href="__URL__/index"><button class="primary-button pure-button">图书管理系统</button></a>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="__URL__/index" class="pure-menu-link">Index</a></li>
                    <li class="pure-menu-item"><a href="__URL__/all_author" class="pure-menu-link">Author</a></li>
                    <li class="pure-menu-item"><a href="__URL__/add" class="pure-menu-link">Add</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link menu-s">Search</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Roll</a></li>
                </ul>
            </div>
        </div>
    </div>


<block name="list">
    <div id="list" class="pure-u-1">


            <present name="books">
            <!-- 普通页面显示书籍 -->
                <volist name="books" id="vo">

                    <div class="email-item pure-g">
                        <div class="pure-u">
                            <img class="email-avatar" height="64" width="64" src="__PUBLIC__/img/book.png" >
                        </div>
                        <div class="pure-u-3-4">
                            <a href="__URL__/show_book?id={$vo.isbn}"> 
                            <h4 class="email-subject">{$vo.title}</h4></a>
                            <p class="email-desc">
                                {$vo.price}￥
                            </p>
                        </div>
                    </div>
                </volist>
            <else /> 
            <!-- 作者页面 -->
                <present name="authors">

                <volist name="authors" id="vo">
                    <div class="email-item pure-g">
                        <div class="pure-u">
                            <img class="email-avatar" height="64" width="64" src="__PUBLIC__/img/author.png" >
                        </div>
                        <div class="pure-u-3-4">
                            <a href="__URL__/search?name={$vo.name}&type=show"> 
                            <h4 class="email-subject">{$vo.name}</h4></a>
                            <p class="email-desc">
                                {$vo.age} years old
                            </p>
                        </div>
                    </div>
                </volist>

                <else />
                <!-- add功能页面 -->
                    <div class="email-item pure-g">
                        <div class="pure-u">
                            <img class="email-avatar" height="64" width="64" src="__PUBLIC__/img/author.png" >
                        </div>
                        <div class="pure-u-3-4">
                            <a href="__URL__/add?type=author"> 
                            <h4 class="email-subject">添加作者</h4>
                            </a>
                            <p class="email-desc">
                                为该图书馆添加新书作者吧
                            </p>
                        </div>
                    </div>
                    <div class="email-item pure-g">
                        <div class="pure-u">
                            <img class="email-avatar" height="64" width="64" src="__PUBLIC__/img/book.png" >
                        </div>
                        <div class="pure-u-3-4">
                            <a href="__URL__/add?type=book"> 
                            <h4 class="email-subject">添加图书</h4>
                            </a>
                            <p class="email-desc">
                                为该图书馆添加新书吧
                            </p>
                        </div>
                    </div>

                </present>

            </present> 


    </div>

</block>


<block name="main">
    </block>



</div>


<script src="__PUBLIC__/js/yui-min.js"></script>

<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {

        var menuButton = Y.one('.nav-menu-button'),
            nav        = Y.one('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        menuButton.on('click', function (e) {
            nav.toggleClass('active');
        });

        // Your application code goes here...

    });
</script>



</body>
</html>
