<extend name="Public:template" />
<block name="content">
	 <div class="main">
	 <p>{$info}</p>
		 <img src="xx.png">
		 <form action="__URL__/insert?type=1" method="post">
			 title:<input type="text" name="Title">
			 name:<input type="text" name="name">
			 publisher:<input type="text" name="Publisher">
			 price:<input type="text" name="Price">
			 isbn:<input type="text" name="ISBN">
			 publishdate:<input type="text" name="PublishDate">
			 <input type="submit" value="提交">
		 </form>
	</div>
</block>